* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1a1d21;
}

.container {
  padding: 9.6rem;
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: center;
  justify-self: center;
  width: 50%;
}

.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.text-container p {
  color: #eee;
  font-size: 2rem;
  font-weight: 600;
}
.form-input {
  border: none;
  border-radius: 8px;
  width: 12rem;
  height: 2rem;
}

.update-savings {
  cursor: pointer;
  /* border: none; */
  color: #eee;
  background-color: #e03131;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 10px;
  width: 12rem;
  height: 4rem;
  box-shadow: #eee;
}

.update-savings:hover {
  background-color: #b52626;
}

.fig1 {
  align-self: center;
  justify-self: center;
}

.fig2 {
  align-self: center;
  justify-self: center;
}
